.main-container {
  height: 1250px;
  margin-top: 40px;
  border-radius: $radius;
  background-color: $color-light;
}

.first-row {
  @include flex(row, flex-start, center);
}

.order .button-first-row {
  background-image: url('/images/assets/pizza-1.jpg');
  background-size: 300px 120px;
}

.booking .button-first-row {
  background-image: url('/images/assets/pizza-2.jpg');
  margin-left: 6px;
}

.button-first-row {
  border-color: $color-light;
  background-color: $color-dark;
  color: $color-light;
  font-family: $font-header;
  border-radius: $radius;
  margin-top: 50px;
  width: 295px;
  height: 120px;
  padding: 0;
  letter-spacing: -0.50px;
  text-align: center;

  h1 {
    margin-bottom: 0;
    line-height: 70px;
    font-size: 26px;
    transition: all 1s ease-in-out;
  }

  p {
    font-size: $base-size;
    font-family: $font-text;
    font-weight: 400;
    opacity: 0;
    transition: all 1s ease-in-out;
  }

  &:hover {
    h1 {
      color: $color-light;
      line-height: 40px;
    }

    p {
      color: $color-light;
      line-height: 40px;
      opacity: 1;
    }
  }
}

.second-row {
  @include flex(row, flex-start, center);
  margin-top: 6px;
}

.open-hours {
  background-color: $color-main;
  border-radius: $radius;
  font-family: $font-header;
  color: $color-light;
  text-align: center;
  margin: 0;
  width: 595px;
  height: 120px;

  h1 {
    font-size: 25px;
    margin-top: 30px;
    margin-bottom: 0;
  }

  h3 {
    font-family: $font-text;
    font-size: $base-size;
    font-weight: $font-light;
    margin-top: 0;
  }
}

.third-row {
  @include flex(row, flex-start, center);
  margin-top: 100px;
  margin-left: 15px;
}

.image {
  background-image: url("/images/assets/pizza-3.jpg");
  width: 195px;
  height: 195px;
  background-size: cover;
  border-radius: $radius;
}


.slider {
  margin: 50px auto;
  width: 660px;
  display: inline-flex;
}

.slide-frame {
  height: 200px;
  width: 660px;
  overflow: hidden;
}

.quotes {
  height: 200px;
  width: 450px;
  overflow: hidden; /*ukrywamy wszystko, co wystaje po za prostokąt 600x400px*/
  position: relative; /* "#slajdy" będzie naszym kontekstem pozycjonującym, dla poszczególnych slajdów*/

  li {
    list-style: none;
  }
}

.quote-title, .quote-content, .quote-author {
  color: $color-dark;
  font-family: $font-text;
  font-size: $base-size*1.2;
}

.quote-title {
  padding-top: 15px;
  font-weight: $font-bold;
  text-transform: uppercase;
  margin-top: 10px;
}

.quote-content {
  font-weight: $font-normal;
  line-height: 23px;
}

.quote-author {
  padding-bottom: 30px;
  font-style: italic;
  line-height: 23px;
}


.nawigacja {
  margin: 5px 0 0 0;
  text-align: center;
  z-index: 10;
  margin-top: -30px;
}

.nawigacja a {
  display: inline-block;
  padding: 2px 6px;
  color: $color-dark;
  -webkit-transition: all linear .1s;
  -moz-transition: all linear .1s;
  -o-transition: all linear .1s;
  transition: all linear .1s;
}

.nawigacja a:hover {
  background: #D258A7;
}

.gallery-first-row {
  margin-top: 30px;
}

.gallery-first-row, .gallery-second-row {
  @include flex(row, flex-start, center);

  img {
    width: 195px;
    height: 195px;
    margin: 5px;
    border-radius: $radius;
  }
}

.image-gallery {
  position: relative;
  @include flex(row, flex-start, center);
}

.image-gallery img {
  -webkit-filter: brightness(100%);
}

.image-gallery:hover {
  img {
    -webkit-filter: brightness(50%);
    transition: $transition;
  }

  .icon {
    opacity: 1;
  }
}

.icon {
  top: 40%;
  font-size: 20px;
  color: $color-light;
  position: absolute;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.cookie {
  color: $color-light;
  transition: $transition;

  &:hover {
    color: $color-main;
  }
}

.footer {
  margin-top: 10px;
}

.footer a{
  font-family: $font-text;
  font-size: $base-size;
  font-weight: $font-normal;
  margin-left: 30px;
  padding-bottom: 40px;
  color: $color-main;
  line-height: 25px;
  text-decoration: underline;
}

.footer a:hover {
  text-decoration: none;
}
